
.form__wrapper{
    margin-top: 50px;
}

.form-search__input-wrapper{
    min-width: 220px;
    position: relative;
}

.form-search__input {
    width: 100%;
    height: 44px;
    padding-left: 40px;
    background: #FFFFFF;
    border-radius: 100px;
    border: 2px solid #9999ff;
}

.form-search__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #A2A2A2;
}

.form-search__submit-btn {
    width: 50px;
    height: 40px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    background: #ff69b4;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}


.form-search__input .error {
    border: 2px solid red;
}


.form-search__error-tooltip {
    width: 570px;
    height: 30px;
    margin-top: -39px;
    padding-left: 15px;
    background-color: white;
    border: 2px red solid;
    border-radius: 25px;
    line-height: 30px;
}

.display-none{
    display: none;
}